.App {
  text-align: left;
}
.standardButton {
  background-image: url("btnBkgd.png");
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border: none;
  font-weight: bold;
  letter-spacing: 0.03rem;
  padding: 7px 7px 7px 7px;
}
.meat {
  width: 60%;
  margin: 0px 0px 0px 50px;
}
@media screen and (min-width: 1250px) {
  .container-fluid {
    margin-left: 100px;
  }
}
@media screen and (min-width: 1000px) {
  .container-fluid {
    margin-left: 50px;
  }
}
#main {
  margin: 10px 0px 60px 0px;
  max-width: 1150px;
}
#theseMine {
  color: rgb(198, 198, 198);
  display: inline-flex;
  margin-left: 15px;
}
p {
  font-size: 15px;
}
.ghostDiv {
  height: 50px;
  width: 30px;
}
.headerNavCollapse {
  background: none;
  border: none;
  float: left;
  display: none;
}
.headerNavCollapse:active {
  background-color: rgb(49, 49, 49);
  box-shadow: 1 5px #666;
  transform: translateY(4px);
}
.headHr {
  clear: both;
}
.footBanner {
  width: 70%;
  padding: 35px 0px 35px 0px;
  float: left;
  clear: both;
  display: block;
  margin: 0px 1% 0px 5%;
}
@media screen and (max-width: 650px) {
  .footBanner {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
}
@media screen and (max-width: 992px) {
  .desktopHeader {
    display: none;
  }
  .headerNavCollapse {
    display: inline-block;
  }
  .meat {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .meat {
    width: 100%;
    margin: 0px 10px 0px 10px;
  }
  #theseMine {
    font-size: x-small;
  }
  .container-fluid {
    padding-left: 0px;
  }
}
@media screen and (max-width: 600px) {
  h1{
  }
}
