hr {
  text-align: center;
  background-color: grey;
}
#homeMain {
  width: 60%;
  margin: 0px 0px 0px 50px;
}
button a {
  color: rgb(255, 255, 255);
}
#linkedIn {
  color: rgb(240, 239, 239);
  border: solid;
  border-radius: 5px;
  background-color: #4b4b4bd0;
  padding: 2px 4px 2px 4px;
}
.homeBtns p {
  font-size: 17px;
  text-align: center;
}
#docx {
  font-size: 12px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
#resume {
  padding: 0px 0px 0px 0px;
  margin: 5px 5px 5px 5px;
}
.homeBtns span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.homeBtns span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  right: -15px;
  bottom: 15px;
  transition: 0.5s;
}
.homeBtns:hover span {
  padding-right: 15px;
}
@media screen and (min-width: 570px) {
  .homeBtns:hover span {
    border-radius: 5px;
    padding: 2px 25px 2px 2px;
    box-shadow: inset -2px -2px 10px 0px #000000, 2px 2px 0px 0px #8cd1ff,
      4px 4px 0px 0px #a1d8fd, 8px 8px 0px 0px rgb(212, 238, 253),
      10px 10px 0px 0px #f5fff5, 12px 12px 0px 0px #b8eebc,
      14px 14px 0px 0px #8adf91;
  }
}
#mobileMorse {
  display: none;
}
.homeBtns:hover span:after {
  opacity: 1;
  right: 0;
}
.homeBtns:active {
  background-color: #aea2db;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.homeBtns {
  margin: 15px;
  width: 275px;
  height: 150px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
  display: block;
  float: left;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(240, 239, 239, 0.89);
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
}

.homeBtns,
.contactBtns {
  box-shadow: inset -2px -2px 10px 0px #000000, 3px 3px 0px 0px #8cd1ff,
    6px 6px 0px 0px #a1d8fd, 9px 9px 0px 0px rgb(212, 238, 253),
    12px 12px 0px 0px #f5fff5, 15px 15px 0px 0px #b8eebc,
    18px 18px 0px 0px #8adf91;
}

@media screen and (max-width: 775px) {
  .homeBtns {
    margin-left: 20%;
  }
}
@media screen and (max-width: 570px) {
  .homeBtns {
    width: 95%;
    height: 75px;
    border-radius: 5px;
    margin: 10px 15px 15px 0px;
  }
  .homeBtns p {
    font-size: 16px;
  }
}
@media screen and (max-width: 360px) {
  .homeBtns {
    margin-left: none;
    height: 75px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
  }
}
