hr {
  text-align: center;
  background-color: grey;
}
#homeMain {
  width: 60%;
  margin: 0px 0px 0px 50px;
}
button a {
  color: rgb(255, 255, 255);
}
#linkedIn {
  color: rgb(240, 239, 239);
  border: solid;
  border-radius: 5px;
  background-color: #4b4b4bd0;
  padding: 2px 4px 2px 4px;
}
.homeBtns p {
  font-size: 17px;
  text-align: center;
}
#docx {
  font-size: 12px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
#resume {
  padding: 0px 0px 0px 0px;
  margin: 5px 5px 5px 5px;
}
.homeBtns span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.homeBtns span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  right: -15px;
  bottom: 15px;
  transition: 0.5s;
}
.homeBtns:hover span {
  padding-right: 15px;
}
@media screen and (min-width: 570px) {
  .homeBtns:hover span {
    border-radius: 5px;
    padding: 2px 25px 2px 2px;
  }
}
#mobileMorse {
  display: none;
}
.homeBtns:hover span:after {
  opacity: 1;
  right: 0;
}
.homeBtns:active {
  background-color: #aea2db;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.homeBtns {
  margin: 15px;
  width: 275px;
  height: 150px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
  display: block;
  float: left;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(240, 239, 239, 0.89);
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
}

.homeBtns {
  background-color: rgb(240, 239, 239);
  box-shadow: inset -2px -2px 10px 0px #000000, 3px 3px 0px 0px #e4ddfa,
    6px 6px 0px 0px #ea92a7, 9px 9px 0px 0px #aea2db, 12px 12px 0px 0px #d4fdee,
    15px 15px 0px 0px #a5e9e9;
  background: linear-gradient(
    45deg,
    #e9a5a5,
    #b8c1c0,
    #aea2db,
    #23d5ab,
    #aea2db
  );
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease infinite;
  animation: gradient 10s ease infinite;
  border: none;
}

@media screen and (max-width: 775px) {
  .homeBtns {
    margin-left: 20%;
    margin-right: 20%;
  }
  #homeMain {
    width: 0%;
    margin: 0px 0px 0px 10px;
  }
}
@media screen and (max-width: 570px) {
  .homeBtns {
    height: 75px;
    width: 250px;
    margin: 10px 15px 15px 0px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 300px) {
  .homeBtns {
    width: 200px;
    height: 75px;
    margin: 10px;
  }
}
