@media screen and (max-width: 600px) {
  #appsList,
  #pf,
  #devToolKit,
  #portfolioItem,
  #devToolkit {
    width: 95%;
  }
}
.scrnsht {
  margin: 0px 10px 15px 10px;
  width: 95%;
}
#connectLink {
  text-align: center;
}
#appsList {
  background-color: rgb(251, 251, 251);
  min-height: 50px;
  border-radius: 10px;
  padding: 10px 5px 10px 10px;
  margin-bottom: 15px;
}
#appsHeader {
  background-color: none;
  font-weight: 500;
  text-align: center;
  font-size: 34px;
  width: 100px;
  border-radius: 8px;
  padding: 3px 5px 3px 5px;
  margin: 0px 10px 10px 10px;
}
.appsListCtrl {
  color: none;
  border: none;
  float: right;
  height: 30px;
  width: 30px;
  padding: 0px;
  margin: 20px 10px 0px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}
#portfolioItem {
  border: 1px;
  border-style: solid dotted solid dotted;
  border-color: hsl(0, 0%, 53%);
  border-radius: 7px;
  margin: 10px;
}
#devToolkit {
  background-color: rgb(251, 251, 251);
  border-radius: 10px;
  margin: 10px;
  padding: 3px;
}
#mobileToolbox {
  display: none;
}
#desktopToolbox {
  display: inline;
}
#portfolioItem p,
#devToolkit p {
  margin: 0px 10px 5px 10px;
  padding: 5px 5px 5px 5px;
}
#toolkit {
  text-align: left;
}
#toolkit li {
  padding: 0px 0px 0px 20px;
  z-index: 0;
  margin: 0px 0px 5px 0px;
}
.appLink {
  font-style: italic;
}
.portfBtnDiv {
  margin: auto;
  text-align: center;
}
.portfBtn {
  display: inline-block;
  margin: 0px 15px 10px 10px;
}
@media screen and (max-width: 600px) {
  #mobileToolbox {
    display: block;
  }
  #desktopToolbox {
    display: none;
  }
}