#self {
    float: left;
margin: 10px 30px 30px 10px;
width: 350px;
height: 350px}
#break {
    text-align: center;
    letter-spacing: 13px;
}

.bio {
    margin: 0px 15px 0px 15px;
}

p {
    margin: 10px 10px 10px 10px;
    width: 95%;
}

h1, p{
    text-align: left;
}

@media screen and (max-width: 820px) {
    #self{
        width:45%;
        height: 45%;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 480px) {
    #self{
        margin: 10px 15px 10px 10px;
    }
}