.soundcaption{
    clear: left;
    margin-left:20px;
}
#bcEmbed {
    float: left;
}
iframe {
    padding: 10px;
    border: 0; 
    width: 350px; height: 470px
}
@media screen and (max-width: 400px) {
    #bcEmbed{
        width: 350px;
    }
}
