@media screen and (min-width: 1000px) {
  .blogImg {
    width: 35%;
    float: right;
    margin: 0px 15px 10px 15px;
  }
}
#chipsPreview {
  width: 95%;
  float: none;
  max-height: 450px;
  max-width: 450px;
  margin: 15px 15px 60px 15px;
}
#chipsBread {
  max-width: 450px;
  float: right;
  margin: 10px 10px 20px 25px;
}
#picoBlink{
  float: left;
}
#mongoexample, #blogtags, #dbAtlas{
  margin: 10px auto 10px auto;
  width: 95%;
}
/* for some reason, nrfConnect won't work if it's an id */
.nrfConnect{
  margin: 15px 18px 15px 18px;
  height: 300px;
  float: left;
}