#splashHero{
    position: absolute;
    left: 0;
    right: 0;
    /* TODO: add moving grey/coudy effect over image */
    /* background: url('https://res.cloudinary.com/dgwzirogr/image/upload/v1628564534/portfolio-large/palisadelarge_ez67xu.jpg'); */
    background-image: url('https://res.cloudinary.com/dgwzirogr/image/upload/v1628564534/portfolio-large/palisadelarge_ez67xu.jpg'), linear-gradient(45deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5));

    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#splashName {
    font-size: 40px;
    position: fixed;
    top: 35%;
    left: 38%;
    color: rgba(255, 235, 235, 0.75);
    transition: .2s ease-in-out;
}

#splashHeading{
    font-size: 60px;
    position: fixed;
    top: 48%;
    left: 43%;
}
#homeLink{
    color: rgb(255, 235, 235);
    transition: .2s ease-in-out;
}
#homeLink:hover{
    color: rgba(255, 235, 235, 0.75);
    transition: .2s ease-in-out;
}

@media screen and (min-width: 900px) {
    #splashName{
        left: 41%;
    }
}

@media screen and (max-width: 550px) {
    #splashName {
        font-size: 30px;
        left: 28%;
    }
    #splashHeading{
        font-size: 50px;
        left: 37%;
    }
}

@media screen and (max-width: 450px) {
    /* #splashHeading{
        font-size: 50px;
        left: 37%;
    } */
}