hr {
    text-align:center;background-color: grey;
}

button a {
    color:rgb(255, 255, 255);
}

#contact-page {
    background-color: white;
    max-width: 500px;
}

.contact-links {
    color: black;
    border-radius: 7px;
    border-style: solid;
    border-color: rgb(255, 235, 208);
    border-width: 1px;
    background-color: #ffffff;
    margin: 10px;
}

#linkedin{
    float: left;
}
#github{
    margin: auto;
    clear: both;
    width: 100px;
}
#resume {
    float: right;
}

.contact-links:hover {
    background-color: rgb(255, 235, 208);
}

li a {
    display: block;
    color: rgb(172, 172, 172);
    text-decoration: none;
    padding: 7px 7px 7px 7px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
button {
clear: left;
float: left;
padding: 10px 18px 10px 18px;
font-family: 'Heebo', sans-serif;
background-color: #629466;
border: none;
}
  