.soundcaption{
    clear: left;
    margin: 10px 10px 10px 10px;
    background-color: #f3f9fc;
    border-radius: 5px;
    padding: 10px;
    -webkit-transition-duration: 2s; /* Safari */
  transition-duration: 2s;
    animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
.bcBtn{
    display:block;
    margin: 0px 15px 10px 10px;
    float: left;
}
#bcEmbed {
    float: left;
}
iframe {
    padding: 10px;
    border: 0; 
    width: 350px; height: 470px
}
@media screen and (max-width: 400px) {
    #bcEmbed{
        width: 350px;
    }
}
