@media screen and (min-width: 1000px) {
  .blogImg {
    width: 35%;
    float: right;
    margin: 0px 15px 10px 15px;
  }
}
#chipsPreview {
  width: 95%;
  float: none;
  max-height: 450px;
  max-width: 450px;
  margin: 15px 15px 60px 15px;
}
.wideHeader {
  max-width: 450px;
  width: 95%;
  margin: 15px 15px 15px 15px;
}
#picoBlink{
  float: left;
}
#mongoexample, #blogtags, #dbAtlas{
  margin: 10px auto 10px auto;
  width: 95%;
}
#storyMap{
  width: 100%;
}
#spiralBox{
  border: solid 1px black;
}
#spiral {
  stroke-width:15;
  stroke-dasharray: 6025;
  stroke-dashoffset: 6025;
  animation: dash 30s linear alternate infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 6025;
  }
  to {
    stroke-dashoffset: 0;
  }
}